* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: midnightblue;
    color: white;
}

.content {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btns {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 2rem;
}

.btn {
    width: 5rem;
}
